@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
.custom-nav-link
{
    color:#323f4b !important;
    font-family:"Roboto";
}
.food-munch-logo
{
    height:55px;
    width:55px;
}
.banner-section-bg-container
{
    height:100vh;
    background-image:url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/foodmunch-banner-bg.png");
    background-size:cover;
}
.banner-heading
{
    font-family:"Roboto";
    font-size:45px;
    font-weight:300px;
    color:white;
}
.banner-caption
{
    color:#f5f7fa;
    font-family:"Roboto";
    font-size:24px;
    font-weight:300px;
}
.custom-button
{
    height:45px;
    width:130px;
    color:white;
    background-color: #d0b200;
    border-width:0;
    border-radius:8px;
    margin-right:10px;
}
.custom-outline-button
{
    height:45px;
    width:130px;
    color:#d0b200;
    background-color:transparent;
    border-radius:8px;
    border-width:1px;
    border-color:#d0b200;
    border-style:solid;
}
.wcu-section{
    background-color:#f9fbfe;
}
.wcu-section-heading
{
    font-family:"Roboto";
    font-weight:700;
    font-size:28px;
    color:#183b5b;
}
.wcu-section-description
{
    font-family:"Roboto";
    font-size:16px;
    color:#5a7184;
}
.wcu-card
{
    text-align:center;
    background-color:white;
    border-style: solid;
    border-width:1px;
    border-color:#e5eaf4;
    border-radius:16px;
}
.wcu-card-image{
    height:90px;
    width:87px;
}
.wcu-card-title
{
    font-family:"Roboto";
    font-weight:500;
    font-size:22px;
    color:#323f4b;
}
.wcu-card-description
{
    font-family:"Roboto";
    font-size:16px;
    color:#7b8794;
}
.offers{
    font-weight:600;
    color:#323f4b;
    font-style:italic;
}
.explore-menu-section
{
    background-color:white;
}
.explore-menu-heading
{
    font-family:"Roboto";
    font-weight:700;
    font-size:28px;
    color:#182b56;
}
.explore-menu-item-image
{
    border-radius:16px;
    width:290px;
    height:304px;
}
.explore-menu-item-title
{
    color:#323f4b;
    font-weight:500;
    font-size:18px;
    margin-top:24px;
    font-family:"Roboto";
}
.explore-menu-item-link
{
    color:#d0b200;
    font-weight:500;
    font-size:14px;
    font-family:"Roboto";
}
.explore-menu-item-card
{
    border-radius:8px;
}
.healthy-food-section
{
    color:#f9fbfe;
}
.healthy-food-section-image
{
    width:270px;
    margin-left:10px
}
.healthy-food-section-heading
{
    font-family: "Roboto";
    font-weight: 700;
    font-size: 28px;
    color: #183b56;
}
.healthy-food-section-description 
{
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
}
.custom-button
{
    width: 130px;
    height: 45px;
    color: white;
    background-image:linear-gradient(to bottom,#d0b200,#a58d00);
    border-width: 0;
    border-radius: 8px;
    margin-right: 10px;
}
.deliverAndPayment-section-image
{
    width:270px;
    margin-left:10px;
}
.deliverAndPayment-section-heading
{
    font-family: "Roboto";
    font-weight: 700;
    font-size: 28px;
    color: #183b56;
}
.deliverAndPayment-section-description 
{
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
}
.payment-card-img {
    width: 50px;
    height: 50px;
    margin-right: 28px;
}
.ThanksGiving-section
{
    background-image:radial-gradient(#fff8db,#fae38c);
}
.ThanksGiving-section-heading
{
    font-family: "Roboto";
    font-weight: 700;
    font-size: 28px;
    color: #183b56;
}
.ThanksGiving-section-description 
{
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
}
.thanking-customers-section-img {
    width: 270px;
    margin-bottom: 20px;
  }
  .follow-us-section-heading
  {
    font-family:"Roboto";
    font-size:28px;
    font-weight:700;
    color: #183b56;
    text-align: center;
  }
  .fotter-section
  {
    background-color:#0d2436;
  }
  .fotter-section-mail-id
  {
    font-family:"Roboto";
    font-weight:Bold;
    font-size:16px;
    margin-top:20px;
    color: #959ead;
  }
  .fotter-section-address {
    color: #959ead;
    font-family: "Roboto";
    font-size: 14px;
  }
  .icon
  {
    color:#d0b200;
    font-size:35px;
  }
  .follow-us-section-container
  {
    width:80px;
    height:80px;
    background-color:#faf7e8;
    margin:20px;
    padding-top:22px;
    padding-right:16px;
    padding-left:24px;
    padding-bottom:14px;
    border-radius:40px;
  }
  .thanking-customers-section-modal-title
  {
    color:#d0b200;
  }
  .sectionLoginPage
{
    background-image:url('https://lh5.googleusercontent.com/proxy/i4bDnPQpXRKIu3BWYySgN-F7JYhPIIIh4n5J-wFlr18hAkhO_vNUG9zy5dafXIUEsDz9=w1200-h630-p-k-no-nu');
    height:100vh;
    width:100vw;
    background-size:cover;
}
.login
{
    margin-top:40px;
    width:30vw;
    height:20vw;
    border-radius:9px;
}
.text-center
{
    text-align:center;
}
.login-text
{
    font-family:Bree serif;
    font-size:25px;
}
.login-logo
{
    margin:5px;
    text-align:center;
    height:70px;
    width:70px;
}

.username{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.submit{
    background-color:rgb(230, 173, 189);
    color:black;
    border:none;
    border-radius:4px;
    padding:5px;
}
.register{
    color:rgb(170, 134, 134);
    font-size:10px;
    margin-right:45px;
}
.input
{
    margin-left:30px;
}